/* PRIMARY COLOUR : 4CAF4F */
/* SECOND COLOUR : 263238 */

/* SILVER COLOUR : F5F7FA */

html{
    padding: 0;
    margin: 0;
}

.container {
    margin-left: 100px;
    margin-right: 100px;
}

.navbar {
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-link {
    display: flex;
    gap: 25px;
    align-items: center;
}

a{
    text-decoration: none;
    color: #263238;
    font-weight: bold;
    font-family: poppins;
}

.btn-register {
    background-color: #4CAF4F;
    text-decoration: none;
    border: none;
    padding: 12px 30px 12px;
    border-radius: 5px;
    color: #fff; 
    font-family: poppins;
}

.logo {
    width: 130px ;
}

.btn-register:hover {
    background-color: #263238;
    
}
.hero {
    background-color: #F5F7FA ;
    display: flex;
    justify-content: space-between;
    padding: 0px 100px 0px;
    margin-left: -100px !important;
    margin-right: -100px !important;
    height: 400px;
    align-items: center;
}

h2 {
    font-size: 70px;
    font-family: poppins;
}
h3 {
    font-size: 70px;
    font-family: poppins;
    color: #4CAF4F;
    margin-top: -90px;
    margin-bottom: -10px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #89939E;
    
}
.client {
    font-size: 40px;
    font-family: poppins;
    text-align: center;
}
.caption-client {
    color: #89939E;
    font-size: 15px;
    font-family: poppins;
    text-align: center;
    margin-top: -35px;
}
.logo-client {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;
}
.community {
    font-size: 40px;
    font-family: poppins;
    text-align: center;
}
.suitable {
    color: #89939E;
    font-size: 15px;
    font-family: poppins;
    text-align: center;
    margin-top: -35px;
}
.card-community {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.membership {
    text-align: center;
    font-family: poppins;
    width: 270px;
}
.text-card {
    margin-top: -5px;
}
.caption-card {
    color: #89939E;
    font-size: 15px;
    font-family: poppins;
    text-align: center;
    margin-top: -5px;
}
.membership:hover {
    background-color: #F5F7FA;
}
.pixelgrade {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}
.pixelgrade img {
    width: 400px;
    margin-left: 10px; 
}
.pixelgrade h1 {
    font-family: poppins;
    font-size: 30px;
}
.pixelgrade h2 {
    font-family: poppins;
    font-size: 15px;
    color: #89939E;
    margin-top: -15px;
}
.learn-more {
    background-color: #4CAF4F;
    text-decoration: none;
    border: none;
    padding: 12px 30px 12px;
    border-radius: 5px;
    color: #fff; 
    font-family: poppins;
    margin-top: 10px;
}
.reinvent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F5F7FA ;
    margin-left: -100px !important;
    margin-right: -100px !important;
}
.reinvent-text h4 {
    font-size: 30px;
    font-family: poppins;
}
.reinvent-text span {
    color: #4CAF4F;
    /* margin-top: -10px !important; */
}
.reinvent-text h5 {
    font-family: poppins;
    font-size: 17px;
    margin-top: -35px;
}
.logo-reinvent-pack {
    display: flex;
    flex-direction: column;
}
.logo-reinvent-1 {
    display: flex;
}
.logo-reinvent-2 {
    display: flex;
}
.logo-reinvent-1 img {
    width: 50px;
    height: 50px;
}
.reinvent-freinds {
    display: flex;
    align-items: center;
    gap: 10px;
}
.caption-reinvent {
    font-size: 30px;
    color: #263238;
    font-weight: bold;
    font-family: poppins;
}
.sec-caption {
    font-family: poppins;
    font-size: 20px;
    margin-top: -30px;
}
.logo-reinvent-2 img {
    width: 50px;
    height: 50px;
}
